# Compiled class file
**/*.class

# Log file
**/*.log

# BlueJ files
**/*.ctxt

# Mobile Tools for Java (J2ME)
**/.mtj.tmp/

# Package Files #
**/*.war
**/*.nar
**/*.ear
**/*.zip
**/*.tar.gz
**/*.rar
**/*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
**/hs_err_pid*
**/replay_pid*

# PDF from classes' notes
**/*.pdf

# DIA temporary files
**/*.dia~

# Office lock
**/~*

# C and other binaries
**/*.exe

desktop.ini
/codigo/Tetris/.vs/Tetris/FileContentIndex/04c66f1e-92fa-4e7c-8570-f276edb1679d.vsidx
/codigo/Tetris/.vs/Tetris/FileContentIndex/0073e48b-434c-4678-b306-3f1891e467fa.vsidx
/codigo/Tetris/.vs/Tetris/FileContentIndex/1994bc50-1661-40dc-a5ec-3b3c6d17f086.vsidx
/codigo/Tetris/.vs/Tetris/FileContentIndex/1b909f66-bfdd-4698-81ab-4cc122eda835.vsidx
/codigo/Tetris/.vs/Tetris/FileContentIndex/4ea6aea0-7219-461a-995e-24fe17aa3576.vsidx
/codigo/Tetris/.vs/Tetris/FileContentIndex/6c319e3e-7e50-4778-9484-00c48db68a69.vsidx
/codigo/Tetris/.vs/Tetris/FileContentIndex/f3335f26-56ba-4435-8f99-237795598c8d.vsidx
/codigo/Tetris/.vs/Tetris/FileContentIndex/fa7fdc6b-d571-46a8-8855-28b657553e4b.vsidx
/codigo/Tetris/.vs/Tetris/FileContentIndex/2c26c212-1ed7-4476-9f9b-35a876655253.vsidx
/codigo/Tetris/.vs/Tetris/FileContentIndex/5f71074a-6aa1-4af8-a25a-f535e8e11784.vsidx
/codigo/Tetris/.vs/Tetris/FileContentIndex/7da566e3-7a86-4519-b504-4a1eec5254e5.vsidx
/codigo/Tetris/.vs/Tetris/FileContentIndex/b71c7989-87b7-43d1-b9d9-4df201e6c554.vsidx
/codigo/Tetris/.vs/Tetris/FileContentIndex/de8e1c43-db96-41ef-bbe4-b43594d9a623.vsidx
